$C-Light-Blue: #7CB3E0;
$C-Mid-Blue:  #688BA6;
$C-Dark-Blue:  darken($C-Mid-Blue, 5);
$C-Cream:      #F2EEE9;
$C-Green:      #77C4C2;
$C-Orange:     #D1B1A5;

$D-Gutter:      1.25rem;
$D-Gutter-Half: $D-Gutter / 2;

$S-Shadow: inset 0 2px 1px 0 rgba(0,0,0,.1);
